<HTML><HEAD><meta http-equiv="content-type" content="text/html; charset=utf-8"><meta http-equiv="imagetoolbar" content="no"><link href="Resources/axurerppage.css" type="text/css" rel="stylesheet"></HEAD><BODY>
<script type="text/javascript">
function InitializeSubmenu(submenucontainerid, tablecellroid, tablecellid, fname) { 
var s = "";
s = s + "function " + fname + "() { ";
s = s + "document.getElementById(submenucontainerid).style.visibility='';";
s = s + "BringToFront(submenucontainerid);";
s = s + "}";
if ((index = navigator.userAgent.indexOf("MSIE")) >= 0)
s = s + "document.getElementById('" + tablecellid + "').attachEvent(\"onmouseover\", " + fname + ");";
else
s = s + "document.getElementById('" + tablecellid + "').addEventListener(\"mouseover\", " + fname + ", true);";
s = s + "document.getElementById(tablecellroid).onclick = function() {";
s = s + "if( document.createEvent ) {";
s = s + "var evObj = document.createEvent('MouseEvents');";
s = s + "evObj.initEvent( 'click', true, false );";
s = s + "document.getElementById(tablecellid).dispatchEvent(evObj);";
s = s + "} else if( document.createEventObject ) {";
s = s + "document.getElementById(tablecellid).fireEvent('onclick');";
s = s + "}";
s = s + "}";
eval(s);
}
</script>


<DIV id=ou9 style="position:absolute; left:785px; top:150px; width:211px; height:291px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:219px; height:299px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u9.png',sizingMethod='scale');
"><img style="width:219px; height:299px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u9.png" border="0" alt=""></span>

</DIV>
<DIV id=u9container style="position:absolute; left:785px; top:150px; width:211px; height:291px; background:#D8D8D8; border: 1px solid; overflow:visible;">

<DIV id=u10 style="position:absolute; left:2px; top:137px; width:206px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u10_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u9 src="Resources/transparent.gif" style="position:absolute; left:785px; top:150px; width:210px; height:290px"  >

<DIV id=ou11 style="position:absolute; left:800px; top:196px; width:181px; height:180px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:189px; height:188px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u11.png',sizingMethod='scale');
"><img style="width:189px; height:188px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u11.png" border="0" alt=""></span>

</DIV>
<DIV id=u11container style="position:absolute; left:800px; top:196px; width:181px; height:180px;; overflow:visible;">

<DIV id=u12 style="position:absolute; left:2px; top:81.5px; width:176px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u12_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u11 src="Resources/transparent.gif" style="position:absolute; left:800px; top:196px; width:180px; height:179px"  >

<DIV id=u13 style="position:absolute; left:810px; top:206px; width:64px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u13_rtf><span style=" font-family:'Arial'; color:#000000; font-size:15px;"><b>Login</b></span></DIV></DIV>
<DIV id=u14 style="position:absolute; left:811px; top:237px; width:155px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u14_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">E-mail</span></DIV></DIV>
<INPUT id=u15  type=text value="" style="position:absolute; left:877px; top:232px; width:95px; height:25px; ; background-color:#FFFFFF; text-align: left ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >

<DIV id=u16 style="position:absolute; left:810px; top:271px; width:66px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u16_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Password</span></DIV></DIV>
<INPUT id=u17  type=text value="" style="position:absolute; left:877px; top:266px; width:95px; height:25px; ; background-color:#FFFFFF; text-align: left ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >

<INPUT id=u18  type=submit value="Login" style="position:absolute; left:875px; top:320px; width:70px; height:25px; ; ; text-align: center ; font-family:'Arial'; font-size: 13px; color:#000000; font-style:normal; font-weight:normal; text-decoration:none" >

<DIV id=u18ann style="font-size:1px; position:absolute; left:936px; top:316px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u19 style="position:absolute; left:842px; top:164px; width:102px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u19_rtf><span style=" font-family:'Arial'; color:#000000; font-size:16px;"><b>Membership</b></span></DIV></DIV>
<span style="position:absolute; left:805px; top:186px; width:189px; height:6px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u20.png',sizingMethod='scale');
"><img style="width:189px; height:6px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u20.png" border="0" alt=""></span>

<IMG id=u20 src="Resources/transparent.gif" style="position:absolute; left:805px; top:186px; width:186px; height:3px">

<DIV id=u21container style="position:absolute; left:874px; top:297px; width:30px; height:16px; ; ; text-align: left " >
<DIV id=u22 style="position:absolute; left:16px; top:0px; width:12px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u22_rtf>&nbsp;</DIV></DIV>
</DIV>
<DIV style="position:absolute; left:874px; top:297px; width:30px; height:16px; ; ; text-align: left " ><INPUT id=u21 style="position:absolute; left:-3px; top:-2px;" type=checkbox value=checkbox  ></DIV>
<DIV id=u23 style="position:absolute; left:891px; top:298px; width:90px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u23_rtf><span style=" font-family:'Arial'; color:#5E5E5E; font-size:12px;">Remember Me</span></DIV></DIV>
<DIV id=u24 style="position:absolute; left:808px; top:354px; width:130px; height:14px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u24_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:11px;"><u>Forgot your password ?</u></span></DIV></DIV>
<DIV id=u24ann style="font-size:1px; position:absolute; left:929px; top:350px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:804px; top:156px; width:30px; height:30px">
<span id=ou25 style="position:absolute;left:0px;top:0px;width:30px;height:30px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u25.png',sizingMethod='scale');
"><img style="width:30px; height:30px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u25.png" border="0" alt=""></span>
</span>
<IMG id=u25 src="Resources/transparent.gif" style="position:absolute; left:804px; top:156px; width:30px; height:30px"   >

<DIV id=ou26 style="position:absolute; left:801px; top:384px; width:181px; height:32px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:189px; height:40px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u26.png',sizingMethod='scale');
"><img style="width:189px; height:40px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u26.png" border="0" alt=""></span>

</DIV>
<DIV id=u26container style="position:absolute; left:801px; top:384px; width:181px; height:32px;; overflow:visible;">

<DIV id=u27 style="position:absolute; left:2px; top:7.5px; width:176px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u27_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u26 src="Resources/transparent.gif" style="position:absolute; left:801px; top:384px; width:180px; height:31px"  >

<DIV id=u28 style="position:absolute; left:835px; top:389px; width:144px; height:17px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u28_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:15px;"><u>Become a member</u></span></DIV></DIV>

<span style="position:absolute; left:809px; top:389px; width:20px; height:20px">
<span id=ou29 style="position:absolute;left:0px;top:0px;width:20px;height:20px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u29.png',sizingMethod='scale');
"><img style="width:20px; height:20px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u29.png" border="0" alt=""></span>
</span>
<IMG id=u29 src="Resources/transparent.gif" style="position:absolute; left:809px; top:389px; width:20px; height:20px"   >

<DIV id=ou30 style="position:absolute; left:785px; top:450px; width:211px; height:361px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:219px; height:369px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u30.png',sizingMethod='scale');
"><img style="width:219px; height:369px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u30.png" border="0" alt=""></span>

</DIV>
<DIV id=u30container style="position:absolute; left:785px; top:450px; width:211px; height:361px; background:#D8D8D8; border: 1px solid; overflow:visible;">

<DIV id=u31 style="position:absolute; left:2px; top:172px; width:206px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u31_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u30 src="Resources/transparent.gif" style="position:absolute; left:785px; top:450px; width:210px; height:360px"  >
<span style="position:absolute; left:796px; top:490px; width:189px; height:6px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u33.png',sizingMethod='scale');
"><img style="width:189px; height:6px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u33.png" border="0" alt=""></span>

<IMG id=u33 src="Resources/transparent.gif" style="position:absolute; left:796px; top:490px; width:186px; height:3px">

<span style="position:absolute; left:795px; top:454px; width:30px; height:30px">
<span id=ou34 style="position:absolute;left:0px;top:0px;width:30px;height:30px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u34.png',sizingMethod='scale');
"><img style="width:30px; height:30px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u34.png" border="0" alt=""></span>
</span>
<IMG id=u34 src="Resources/transparent.gif" style="position:absolute; left:795px; top:454px; width:30px; height:30px"   >


<span style="position:absolute; left:814px; top:508px; width:28px; height:28px">
<IMG id=ou37 src="Blog-page_files/u37.jpg" style="position:absolute;left:0px;top:0px;width:28px;height:28px">
</span>
<IMG id=u37 src="Resources/transparent.gif" style="position:absolute; left:814px; top:508px; width:28px; height:28px"   >
<DIV id=ou43 style="position:absolute; left:801px; top:639px; width:181px; height:82px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:189px; height:90px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u39.png',sizingMethod='scale');
"><img style="width:189px; height:90px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u39.png" border="0" alt=""></span>

</DIV>
<DIV id=u43container style="position:absolute; left:801px; top:639px; width:181px; height:82px;; overflow:visible;">

<DIV id=u44 style="position:absolute; left:2px; top:32.5px; width:176px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u44_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u43 src="Resources/transparent.gif" style="position:absolute; left:801px; top:639px; width:180px; height:81px"  >

<span style="position:absolute; left:825px; top:642px; width:58px; height:58px">
<IMG id=ou45 src="Blog-page_files/u45.jpg" style="position:absolute;left:0px;top:0px;width:58px;height:58px">
</span>
<IMG id=u45 src="Resources/transparent.gif" style="position:absolute; left:825px; top:642px; width:58px; height:58px"   >


<span style="position:absolute; left:904px; top:647px; width:48px; height:48px">
<IMG id=ou46 src="Blog-page_files/u46.jpg" style="position:absolute;left:0px;top:0px;width:48px;height:48px">
</span>
<IMG id=u46 src="Resources/transparent.gif" style="position:absolute; left:904px; top:647px; width:48px; height:48px"   >

<DIV id=u46ann style="font-size:1px; position:absolute; left:943px; top:643px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u47 style="position:absolute; left:831px; top:697px; width:60px; height:14px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u47_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:11px;"><u>Linked in</u></span></DIV></DIV>
<DIV id=u48 style="position:absolute; left:911px; top:696px; width:60px; height:15px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u48_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:12px;"><u>Twitter</u></span></DIV></DIV>



<span style="position:absolute; left:791px; top:827px; width:30px; height:30px">
<span id=ou67 style="position:absolute;left:0px;top:0px;width:30px;height:30px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u67.png',sizingMethod='scale');
"><img style="width:30px; height:30px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u67.png" border="0" alt=""></span>
</span>
<IMG id=u67 src="Resources/transparent.gif" style="position:absolute; left:791px; top:827px; width:30px; height:30px"   >
</DIV>
<DIV id=u100container style="position:absolute; left:225px; top:179px; width:551px; height:382px; overflow:visible; background:#D8D8D8; border: 1px solid">

<DIV id=u101 style="position:absolute; left:2px; top:182.5px; width:546px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u101_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u100 src="Resources/transparent.gif" style="position:absolute; left:225px; top:179px; width:550px; height:381px"  >

<DIV id=ou102 style="position:absolute; left:17px; top:379px; width:199px; height:302px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:207px; height:310px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u102.png',sizingMethod='scale');
"><img style="width:207px; height:310px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u102.png" border="0" alt=""></span>

</DIV>
<DIV id=u102container style="position:absolute; left:17px; top:379px; width:199px; height:302px; background:#D8D8D8; border: 1px solid; overflow:visible;">

<DIV id=u103 style="position:absolute; left:2px; top:142.5px; width:194px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u103_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u102 src="Resources/transparent.gif" style="position:absolute; left:17px; top:379px; width:198px; height:301px"  >

<DIV id=ou104 style="position:absolute; left:16px; top:740px; width:201px; height:360px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:209px; height:368px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u104.png',sizingMethod='scale');
"><img style="width:209px; height:368px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u104.png" border="0" alt=""></span>

</DIV>
<DIV id=u104container style="position:absolute; left:16px; top:740px; width:201px; height:360px; background:#D8D8D8; border: 1px solid; overflow:visible;">

<DIV id=u105 style="position:absolute; left:2px; top:171.5px; width:196px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u105_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u104 src="Resources/transparent.gif" style="position:absolute; left:16px; top:740px; width:200px; height:359px"  >
<DIV id=u107 style="position:absolute; left:63px; top:388px; width:90px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u107_rtf><span style=" font-family:'Arial'; color:#010101; font-size:16px;"><b>Categories</b></span></DIV></DIV>
<span style="position:absolute; left:19px; top:413px; width:189px; height:6px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u108.png',sizingMethod='scale');
"><img style="width:189px; height:6px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u108.png" border="0" alt=""></span>

<IMG id=u108 src="Resources/transparent.gif" style="position:absolute; left:19px; top:413px; width:186px; height:3px">

<span style="position:absolute; left:26px; top:383px; width:30px; height:30px">
<span id=ou109 style="position:absolute;left:0px;top:0px;width:30px;height:30px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u109.png',sizingMethod='scale');
"><img style="width:30px; height:30px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u109.png" border="0" alt=""></span>
</span>
<IMG id=u109 src="Resources/transparent.gif" style="position:absolute; left:26px; top:383px; width:30px; height:30px"   >

<DIV id=u110 style="position:absolute; left:61px; top:755px; width:118px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u110_rtf><span style=" font-family:'Arial'; color:#000000; font-size:16px;"><b>Recent posts</b></span></DIV></DIV>
<span style="position:absolute; left:18px; top:979px; width:189px; height:6px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u111.png',sizingMethod='scale');
"><img style="width:189px; height:6px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u111.png" border="0" alt=""></span>


<DIV id=ou142 style="position:absolute; left:17px; top:179px; width:199px; height:191px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:207px; height:199px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u142.png',sizingMethod='scale');
"><img style="width:207px; height:199px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u142.png" border="0" alt=""></span>

</DIV>
<DIV id=u142container style="position:absolute; left:17px; top:179px; width:199px; height:191px; background:#D8D8D8; border: 1px solid;       ; overflow:visible;">

<DIV id=u143 style="position:absolute; left:2px; top:87px; width:194px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u143_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u142 src="Resources/transparent.gif" style="position:absolute; left:17px; top:179px; width:198px; height:190px"  >
<DIV id=u174 style="position:absolute; left:30px; top:186px; width:120px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u174_rtf><span style=" font-family:'Arial'; color:#000000; font-size:16px;"><b>Lorem ipsum</b></span></DIV></DIV>
<DIV id=ou175 style="position:absolute; left:20px; top:140px; width:755px; height:31px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:763px; height:39px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u175.png',sizingMethod='scale');
"><img style="width:763px; height:39px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u175.png" border="0" alt=""></span>

</DIV>
<DIV id=u175container style="position:absolute; left:20px; top:140px; width:755px; height:31px; background:#D8D8D8; border: 1px solid; overflow:visible;">

<DIV id=u176 style="position:absolute; left:2px; top:7px; width:750px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u176_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u175 src="Resources/transparent.gif" style="position:absolute; left:20px; top:140px; width:754px; height:30px"  >

<DIV id=u177 style="position:absolute; left:40px; top:144px; width:40px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u177_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:13px;"><u>Home</u></span></DIV></DIV>
<DIV id=u177ann style="font-size:1px; position:absolute; left:71px; top:140px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u178 style="position:absolute; left:83px; top:145px; width:20px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u178_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">&gt;</span></DIV></DIV>
<DIV id=u179 style="position:absolute; left:99px; top:145px; width:42px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u179_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">Blog</span></DIV></DIV>
<DIV id=u180 style="position:absolute; left:271px; top:190px; width:239px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u180_rtf><span style=" font-family:'Arial'; color:#000000; font-size:16px;"><b>Featured Posts</b></span></DIV></DIV>

<DIV id=ou183 style="position:absolute; left:226px; top:570px; width:551px; height:618px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:559px; height:626px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u183.png',sizingMethod='scale');
"><img style="width:559px; height:626px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u183.png" border="0" alt=""></span>

</DIV>
<DIV id=u183container style="position:absolute; left:226px; top:570px; width:551px; height:618px; background:#D8D8D8; border: 1px solid; overflow:visible;">

<DIV id=u184 style="position:absolute; left:2px; top:300.5px; width:546px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >

<% @blogs.each do |blog| %>
<table>
  <tr>
	<td> Title</td>
	<td><%= link_to blog.title, "/blogs/show/#{blog.id}" %></td>
  </tr>
  <tr>
	<td>
	 
	</td>
	<td>
	Short_Description
	</td>
	<td><%= blog.short_description%></td>
  </tr>
  <tr>
	<td>Author </td>
	<td><%= blog.author%></td>  
	<td>Posted on <%= blog.created_at %></td>
	<td></td>
    
    
  </tr>
</table>

<% end %>



<DIV id=u184_rtf>&nbsp;</DIV>
<div style="position: absolute; left: 720px; top:480px;"></div>

</DIV>
</DIV>


<DIV id=u185 style="position:absolute; left:278px; top:584px; width:239px; height:19px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u185_rtf><span style=" font-family:'Arial'; color:#000000; font-size:16px;"><b>Recent Posts</b></span></DIV></DIV>
<span style="position:absolute; left:239px; top:611px; width:513px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u186.png',sizingMethod='scale');
"><img style="width:513px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u186.png" border="0" alt=""></span>

<IMG id=u186 src="Resources/transparent.gif" style="position:absolute; left:239px; top:610.5px; width:510px; height:2px">

<span style="position:absolute; left:233px; top:214px; width:513px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u187.png',sizingMethod='scale');
"><img style="width:513px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u187.png" border="0" alt=""></span>

<IMG id=u187 src="Resources/transparent.gif" style="position:absolute; left:233px; top:213.5px; width:510px; height:2px">






<DIV id=u194 style="position:absolute; left:425px; top:1243px; width:300px; height:17px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u194_rtf><span style=" font-family:'Arial'; color:#0000FF; font-size:15px;"><u><%= will_paginate @blogs%></u></span></DIV></DIV>

<span style="position:absolute; left:516px; top:1245px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u198.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u198.png" border="0" alt=""></span>

<IMG id=u198 src="Resources/transparent.gif" style="position:absolute; left:515.5px; top:1245px; width:2px; height:15px">

<span style="position:absolute; left:620px; top:1245px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u199.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u199.png" border="0" alt=""></span>

<IMG id=u199 src="Resources/transparent.gif" style="position:absolute; left:619.5px; top:1245px; width:2px; height:15px">

<span style="position:absolute; left:717px; top:1245px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u200.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u200.png" border="0" alt=""></span>

<IMG id=u200 src="Resources/transparent.gif" style="position:absolute; left:716.5px; top:1245px; width:2px; height:15px">






<DIV id=u223ann style="font-size:1px; position:absolute; left:769px; top:694px; width:1px; height:1px; overflow:visible"></DIV>
<span style="position:absolute; left:26px; top:424px; width:20px; height:20px">
<span id=ou225 style="position:absolute;left:0px;top:0px;width:20px;height:20px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u225.png',sizingMethod='scale');
"><img style="width:20px; height:20px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u225.png" border="0" alt=""></span>
</span>
<IMG id=u225 src="Resources/transparent.gif" style="position:absolute; left:26px; top:424px; width:20px; height:20px"   >
<DIV id=u233ann style="font-size:1px; position:absolute; left:764px; top:831px; width:1px; height:1px; overflow:visible"></DIV>
<DIV id=u234ann style="font-size:1px; position:absolute; left:431px; top:895px; width:1px; height:1px; overflow:visible"></DIV>
<span style="position:absolute; left:235px; top:183px; width:30px; height:30px">
<span id=ou253 style="position:absolute;left:0px;top:0px;width:30px;height:30px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u253.png',sizingMethod='scale');
"><img style="width:30px; height:30px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u253.png" border="0" alt=""></span>
</span>
<IMG id=u253 src="Resources/transparent.gif" style="position:absolute; left:235px; top:183px; width:30px; height:30px"   >

<span style="position:absolute; left:244px; top:576px; width:30px; height:30px">
<span id=ou254 style="position:absolute;left:0px;top:0px;width:30px;height:30px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Blog-page_files/u254.png',sizingMethod='scale');
"><img style="width:30px; height:30px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Blog-page_files/u254.png" border="0" alt=""></span>
</span>
<IMG id=u254 src="Resources/transparent.gif" style="position:absolute; left:244px; top:576px; width:30px; height:30px"   >
<SCRIPT src="Resources/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="Blog-page_files/axurerp_pagespecificscript.js"></SCRIPT></BODY></HTML>
